﻿
@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
<p>Your age is @ViewData["age"]</p>
<ul>
    @for(int i =0; i < (int)ViewData["age"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>

